<% if false %><script type="text/javascript" src="drag2/drag2.js"></script>

<body ng-app = "drag2">
	<div ng-controller="drag2Controller as drag2">
		<div ng-repeat="list in drag2.lists">{{list}}</div>
	<div>
</body>

<% end %>

<html>
<head>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

<style>

li {
	cursor:move;
}

</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> -->
<script>

angular
	.module('dragNDrop',[])
	.directive('sortItems',function() {
	    var directive = {
	        restrict: 'A',
	        link: link,
	        scope: {
	        	onSort: '&',
	        }
	    };

	    return directive;

	    function link(scope,element,attr) {
	        element.sortable({
	            stop: function(event,ui) {
	                var items = element.sortable('toArray');
	                scope.onSort()(items)
	            }
	        });
	    }
	});

angular
	.module('sortableApp',['dragNDrop'])
	.controller('SortCtrl',function() {
		var vm = this;

		vm.items = [
			{id: 1, name:'Item 1'},
			{id: 2, name:'Item 2'},
			{id: 3, name:'Item 3'}
		];

		vm.sortItems = sortItems;

		function sortItems(items) {
			console.log(items);
		}
	});	

</script>

</head>

<body ng-app="sortableApp">

<div id="items" ng-controller="SortCtrl as ctrl"> 
	<ul class="section-items" sort-items on-sort="ctrl.sortItems">
		<li ng-repeat="item in ctrl.items" id="{{item.id}}">{{item.name}}</li>
	</ul>
</div>

</body>
</html>