<!-- index.erb -->
<head>
	<script src="index_app/index.js"></script>
	<link rel="stylesheet" href="index_app/index.css">
</head>

<% if false%>
<!-- 
we're splitting our code. This may look complicated, but 
realistically we're just splitting the layout and index
logically based on what we would want to see where. 

The index appears in the yield on the layout. 
The layout has our scripts and style and starts the Angular app.
This might not be the right way to do it but I'm exploring right now. 
if false is an easy way to comment out a large block of code.  
-->
<% end %>

<div ng-controller="greetingController">
	{{greeting}}
</div>

<my-first-directive></my-first-directive>
<hr />
<label for="log-on-blur">My Second Directive:</label>
<input log-on-blur type="text" name="log-on-blur" value="" placeholder="Change Me!">
<hr />
<h2> Strike through test</h2>
<div>
	<p strike-through-on-click>Click on me or lorem impsum to strike throught. </p>
	<p strike-through-on-click>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</div>